$primary: #EE7B37;
$primary-overlay: rgba(238, 123, 55, 0.8);


body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

#showcase {
  position:relative;
  background:url('../img/mountains.jpg');
  min-height:700px;

  .primary-overlay{
    background:$primary-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}